<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @venue.place %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
